@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
.cate-container {
  z-index: 0;
  position: fixed;
  top: 130px;
  width: 314px;
  padding: 20px 20px;
  font-family: 'Lato', sans-serif;
}

.cate-ul {
  border-radius: 0;
  list-style-type: none;
  padding: 30px;
  background-color: white;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.19);
}

.cate-li {
  margin-bottom: 10px;
  color: grey;
  border: 2px solid transparent;
  border-radius: 0;
}

.active-li {
  margin-bottom: 10px;
  color: orange!important;
  border-bottom: 2px solid orange;
  border-radius: 0;
}

.cate-a {
  color: inherit;
}

.cate-a:hover {
  color: orange;
  text-decoration: none;
}

.prod-container {
  padding: 20px 20px;
}

.cate-prod-ul {
  width: 100%;
  border-radius: 0;
  list-style-type: none;
  padding: 30px;
}

.cate-prod-li {
  margin-bottom: 20px;
}

.prod-ul {
  padding: 0;
  border-radius: 0;
  list-style-type: none;
  background-color: whitesmoke;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.19);
}

.prod-li {
  border-bottom: 1px solid rgba(0, 0, 0, 0.19);
  padding: 20px;
}

.prod-li:last-child {
  border-bottom: none;
}

.prod-media {
  position: relative;
}

.add-to-cart {
  position: absolute;
  bottom: 1px;
  right: 8px;
  font-size: 30px;
  cursor: pointer;
  color: darkorange;
  transition: 0.3s ease;
  border-radius: 50%;
}

.add-to-cart:hover {
  color: white;
  background-color: orange;
}