* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  --antd-wave-shadow-color: darkorange;
}

body {
  height: 100%;
  margin: 0;
}

.ant-checkbox .ant-checkbox-inner {
  background-color: white;
  border-color: lightgray;
}

.ant-checkbox .ant-checkbox-inner::selection {
  background-color: white;
  border-color: darkorange;
}

.ant-checkbox-checked .ant-checkbox-inner {
  background-color: darkorange;
  border-color: darkorange;
}